/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  /* font-family: sans-serif; */
  padding: 2rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}


h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}


/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for basic buttons */
.button-nav , .submit-style, .reset-style , .button-addtocart {
  display: inline-block;
  padding: 0.7rem;
  color: black;
  background-color: #cacc90;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.8em;

}

.submit-style , .reset-style {
  padding: 0.7rem;
  font-size: 0.8em;
  border: none;
}

.button-nav:hover, .button-nav:focus , .button-addtocart:hover, .button-addtocart:focus {
  background-color: #ffb777;
}



#citations ul a {
  font-size: 10pt;
}


/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/
