/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/
body {
  /* font-family: sans-serif; */
  padding: 2rem;
  margin:3rem;
  box-sizing: border-box;



}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}


h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for basic buttons */
.button-nav , .submit-style, .reset-style , .button-addtocart {
  display: inline-block;
  padding: 0.5em;
  color: #f0eee3;
  background-color: #b4876e;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'DM Serif Display', serif;
  font-weight: 300;
  font-size: 0.8em;
  border-radius: 0.5rem;

}

.submit-style , .reset-style {
  padding: 0.5em;
  font-size: 0.8em;
  border: none;
}

.button-nav:hover, .button-nav:focus , .button-addtocart:hover, .button-addtocart:focus, .submit-style:hover, .submit-style:focus, .reset-style:hover, .reset-style:focus {
  background-color: #f0eee3;
  color:#b4876e;




#citations ul a {
  font-size: 10pt;
}



/*
  TEXT ELEMENTS -------------------
*/




/*
  COMBINED ELEMENTS -------------------
*/
