/*
  STYLE GUIDE STYLING
  Default styling for the style guide

  COLOURS:

  BLACK: #000000;
  DARK BLUE: #2b2c42;
  PALE BLUE: #8d99ae;
  TAN: #b4876e;
  BEIGE: #f0eee2;
*/

/*
body {
  padding: 1rem;
  margin:1rem;
  box-sizing: border-box;
} */



.cart-container{
  display: flex;
  flex-wrap: wrap;

}

/* STYLING */
.payment-form, .contact-form{

/* display: inline-block;
  flex-wrap: wrap; */
  max-width: 500px;
  padding: 4em;
  margin-left: 3em;
  border: 0.05em solid #b4876e;
  margin-bottom: 2em;
}

.checkout-items{

  max-width: 500px;
  padding: 4em;
  margin-left: 3em;
  border: 0.05em solid #b4876e;
  margin-bottom: 2em;
}

.label-style {
  font-family:"Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color:black;
}




.custom-select {
  position: relative;
  font-family: Lato;
  padding:1em 1em 1em 0;
  background-color: transparent;

}

input:focus, textarea:focus, select:focus{
       outline: none;
   }







/* RADIO BUTTON COLOUR UGLY AND CANNOT UNCHECK*/


/* input[type='radio']:after {
     width: 1.3em;
     height: 1.3em;
     border-radius: 4em;
     top:-0.45em;
     left:-0.3em;
     position: relative;
     background-color: #d1d3d1;
     content: '';
     display: inline-block;
     visibility: visible;
     border: 2px solid white;
 }

input[type='radio']:checked:after {
         width: 1.3em;
         height: 1.3em;
         border-radius: 4em;
         position: relative;
         background-color: #b4876e;
         content: '';
         display: inline-block;
         visibility: visible;
         border: 2px solid white;
} */

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h3 {
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav a:hover, nav a:focus {
  text-decoration: none;
}

* {
  background: white;
}

code {
  background-color: #e5e5e5;
  padding: 0.5rem;
  display: block;
}


/* BRANDING SECTION + GENERAL OVERALL STYLING  */

.jocale {
  font-family: 'DM Serif Display', serif;
  /* font-size: 3.5em; */
  font-size: 4em;
  color: black;
  margin-top: -1em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

/* .branding-info {
  max-width: 500px;
} */


.user-image{
  max-width: 25%;
  height:auto;
  decoration:none;
  display: inline-block;
}

.product-image{
  max-width: 40%;
  height: auto;
  decoration:none;
  display: inline-block;

}

/* CAPTIONS UNDER IMAGES */
figcaption {
  font-family:"Lato", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8em;
  margin-bottom:2rem;

}

p , li {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.08em;
}


h2 , h3 , h4 , h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #28261a;
}

a {
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
}

/* COLOR PALETTE */
.color1 {
  background-color:#000000;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color2 {
  background-color: #2b2c42;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color3 {
  background-color:#8d99ae;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color4 {
  background-color:#b4876e;
  font-size: 1.2em;
  text-align: center;
  color:white;
  padding: 1.2em;
  max-width: 500px;
}

.color5 {
  background-color:#f0eee2;
  font-size: 1.2em;
  text-align: center;
  color: black;
  padding: 1.2em;
  max-width: 500px;
}

/* MOODBOARD */
.artdirection {
  max-width: 100%;
}

.italic{
  font-style: italic;
}

#text-Input{
  text-decoration: none;
 }

/* SECTION TITLES */

section {
  max-width:800px;
}



/* IN TEXT LINK STYLING */
.intext-link , .cite {
  text-decoration: none;
  color: #b4876e;
}

.intext-link:hover , .cite:hover {
  color: black;
}

/* PHOTO AS A LINK STYLING */

.photo-link:hover {
  opacity: 0.5;
}


/* NAVIGATION STYLING */

/* nav {
  border: solid 1px black;
} */
.button-nav-main {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  padding: 0.5rem;
  /* background-color: #b4876e; */
  background-color: Transparent;
  /* background: white; */
  /* color:#f0eee3; */
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  text-align: center;
  justify-content: center;
  width: 100%;
  border: solid 1px black;
  margin: 0;

}

.button-nav-main:hover, .button-nav-main:focus {
  background-color: #f0eee3;
  /* color: #b4876e; */
  color: black;
}



@media (min-width: 50em) {

  /* product list styling */

  .button-nav-main {
      margin-right: -1px;
  }

  /* .product-list-grid {
      display: flex;
  } */

  .box {
    padding: 1.5rem;
  }
  .p-item {
    max-width: 70%;
  }

  .product-list {
    display: flex;
    margin-bottom: 100px;
  }


  .preloved-product {
    margin-top: 0.5em;
    font-size: 1.5em;
    max-width: 300px;
    color: #60452c;
  }

  .product-subtitle {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14pt;
    color: #333414;
  }


  .Price {
    font-weight: 500;
  }
/* CLOSING TAG FOR 50 EM */
}



/* SMALLER SCREENS STYLING */
@media (min-width: 20em) {

  body {
    padding: 0.5rem;
    box-sizing: border-box;
    margin:2rem;
  }

.button-nav-main {
  display: flex;
  margin-bottom: -1px;
}
.box {
  padding-bottom: 1.5rem;
  border: solid black 1px;
}
.p-item {
  /* max-width: 300px; */
  max-width: 80%;
}

.product-list {
  display: block;
  margin-bottom: 6em;
}

.product-description {
  margin-top: 0.5em;
  margin-left: 0;
}


.preloved-product {
  margin-top: 5px;
  font-size: 1.5em;
  max-width: 300px;
  color: #60452c;
}

.product-subtitle {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14pt;
  color: #333414;
}

.button-addtocart {
  margin-top: 1em;
}



}


/*  STYLING FOR BIGGER SCREENS */


@media (min-width: 50em) {
body {
  padding: 0.5rem;
  box-sizing: border-box;
  margin:3rem;
}
/* NAVIGATION */
    nav {
      display: flex;
    }
    .button-nav-main {
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    }
/* PRODUCT LISTING STYLING */
/* .p-item {
  max-width: 100%;
} */

.product-list {
  display: flex;
  margin-bottom: 100px;
}


.product-description {
  margin-top: -10px;
  margin-left: 20px;
}



.preloved-product {
  margin-top: 0.5em;
  font-size: 1.5em;
  max-width: 300px;
  color: #60452c;
}

.product-subtitle {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14pt;
  color: #333414;
}


.object-description {
  margin-top: -0.5em;
  margin-bottom:0.5em;
  max-width: 300px;
  line-height: 1.5;
}

.button-addtocart {
  margin-top: 1em;
}

/* checkout styling */
.row2 {
  display:flex;
}

.row2 .column1 {
  margin-right: 50px;
}



}


/* CHECKOUT CART STYLING */

/* .checkout-items {
  display:flex;
  flex-direction: column;
  max-width: 500px;
  padding: 50px;
  border: 2px solid black;
} */


.row1 {
  display: flex;
}

.info {
margin-top: 0;
}

.row1 img{
  margin-top: 2pt;
  width:100px;
}

.row1 .info .Price {
  margin-top: 2pt;
}



.row2 p {
  margin-bottom:0;
  font-size: .9em;
  margin-left: auto;
  line-height: 1.5;
}



.row3 .column1 p {
  margin: 0;
  margin-bottom: 1.5pt;
  font-size: .9em;
}

.row4 p {
  font-size: .9em;
}

.row5 {
  font-size: .9em;
  margin-top: 50px;
}


/* PAYMENT FORM STYLING */

.fill {
  display:block;
  padding-top: 5%;
}

.product-description {
  display:flex;
  flex-direction: column;
}



.bill-info-1, .contact-info-1 {

  display:flex;
  flex-direction: column;
  max-width: 500px;

}

.bill-style{
  font-family:"Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
}

.bill-info-1, .input-style , .bill-info-3, .contact-info-1 {
color: black;
border-color: #b4876e;
margin-top: 0.8em;
margin-bottom: 0.8em;
}

.message-style{
  color: black;
  border-color: #b4876e;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  height:10em;
}



.bill-info-2 , .bill-info-4 {
  display:inline-block;
  max-width: 500px;
  padding-bottom:20px;
}

input[type=submit]:focus , input[type=reset]:focus , input[type=text]:focus  {
outline: none;
color:#b4876e;
decoration:none;

}



.bill-info-3 {
  display:flex;
  flex-direction: column;
  max-width: 200px;
}

/* Styling for basic buttons */
.button-nav , .submit-style, .reset-style , .button-addtocart {
  display: inline-block;
  padding: 0.5em 1em 0.5em 1em;
  /* color: #f0eee2; */
  /* background-color: #c39c87; */
  background-color: #f0eee3;
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  /* border: solid 1px black; */
  /* border-style: none; */
  /* border-radius: 0.2em; */

}



.button-out{
  font-family: Lato;
  font-weight: 300;
  font-style: italic;
  font-size: 0.7rem;
  display: inline-block;
  padding: 1em;
  margin-top: 0.5rem;
  color: #f0eee3;
  background-color: #f0eee2;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 0.5rem;

}

.button-nav:hover, .button-nav:focus , .button-addtocart:hover, .button-addtocart:focus,  .submit-style:hover, .submit-style:focus, .reset-style:hover, .reset-style:focus {
  /* background-color: #f0eee3; */
  background-color: #b4876e;
  /* color:#b4876e; */
  color:white;

}


#citations ul a {
  font-size: 10pt;
}


.Price {
  font-weight: 500;
  margin-top:1em;
}

.Price-total{
  font-weight: 500;
  margin-top:1em;
  margin-bottom: -0.6em;

}







/* .landing img{
  height:auto;
} */

/* .landing-btn {
  top: 80%;
  right:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0.5em 1em 0.5em 1em;
  color: #f0eee2;
  background-color: #c39c87;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  border-style: none;
  border-radius: 0.2em;

} */


/*
  CHECKOUT CSS?  ---
  ----------------
*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  /* margin-top: 1rem; */

}


ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #f0eee2;
}

/* MAKE THEM ALIGN T LEFT*/

li {
  font-family: Lato;
  font-style: italic;
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.8;

}

li a {
  float: left;
  font-family:"Lato", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.8;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
/* HOVER STATE */
li a:hover {
  background-color: #f0eee2;
}

/* LINK STATES TO CHANGE ACCORDINGLY  */
/* a:link, a:visited {
  color: red;
} */

/* commented out on 10/23 11:24pm */
/* a:hover {
  color: #e2d5b7;
} */





h6 {
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  }

* {
  box-sizing: border-box;
}

/* CONTAINING ALL TEXT INPUTS IN ONE BOX */
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  decoration: none;
}


  /* SEARCH STYLING */
input[type=search]:focus  {
outline: none;
color:#b4876e;
decoration:none;
}

input[type=search] {
  padding:1em;
  border: -0.5em solid black;
}



/* input[type=radio] {
  decoration: none;
} */

/* input[type='radio']:after {
       width: 15px;
       height: 15px;
       border-radius: 15px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: #d1d3d1;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
   }

   input[type='radio']:checked:after {
       width: 15px;
       height: 15px;
       border-radius: 15px;
       top: -2px;
       left: -1px;
       position: relative;
       background-color: #966448;
       content: '';
       display: inline-block;
       visibility: visible;
       border: 2px solid white;
   } */






.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

/* PRICE STYLING */
span.price {
  float: right;
  color: grey;
}

/* RESPONSIVE*/
/* @media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
} */
