

/* PRODUCT LISTING STYLING FOR BIGGER SCREENS */


@media (min-width: 50em) {

.product-list-grid {
    display: flex;
}

.box {
  padding: 1.5rem;
}
.p-item {
  max-width: 100%;
}

.product-list {
  display: flex;
  margin-bottom: 100px;
}


.preloved-product {
  margin-top: 0.5em;
  font-size: 1.5em;
  max-width: 300px;
  color: #60452c;
}

.product-subtitle {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 14pt;
  color: #333414;
}


.Price {
  font-weight: 500;
}

}


/* CHECKOUT CART STYLING */

.checkout-items {
  display:flex;
  flex-direction: column;
  max-width: 500px;
  padding: 50px;
  border: 2px solid black;
}


.row1 {
  display: flex;
}

.info {
margin-top: 0;
}

.row1 img{
  margin-top: 2pt;
  width:100px;
}

.row1 .info .Price {
  margin-top: 2pt;
}

.row2 {
  display:flex;
}

.row2 p {
  margin-bottom:0;
  font-size: .9em;
  margin-left: auto;
  line-height: 1.5;
}

.row2 .column1 {
  margin-right: 50px;
}

.row3 .column1 p {
  margin: 0;
  margin-bottom: 1.5pt;
  font-size: .9em;
}

.row4 p {
  font-size: .9em;
}

.row5 {
  font-size: .9em;
  margin-top: 50px;
}


/* PAYMENT FORM STYLING */



.fill {
  display:block;
  padding-top: 5%;
}

.product-description {
  display:flex;
  flex-direction: column;
}



.bill-info-1 {
  display:flex;
  flex-direction: column;
  max-width: 500px;
}


.bill-info-1 .input-style , .bill-info-3 .input-style {
color: black;
margin-top: 10px;
margin-bottom: 10px;
}

.bill-info-2 , .bill-info-4 {
  display:inline-block;
  max-width: 500px;
  padding-bottom:20px;
}


input[type=submit]:focus , input[type=reset]:focus , input[type=text]:focus  {
outline: none;
color:#b4876e;
decoration:none;

}

input[type=text] {
  padding:1em;
  border: 1px solid black;
}


.bill-info-3 {
  display:flex;
  flex-direction: column;
  max-width: 200px;
}
