/* For addiitonal styling that pertains to the website and its responsiveness */


/* HEADER + JOCALE LOGO */
header {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.center {
position: absolute;
/* display: inline-block; */
/* margin-top: 10%; */
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)

}

.checkout-button {
  width: 30px;
  position: absolute;
  left: 90%;
  margin-right: 25%;
  transform: translate(-50%, -100%)
}

.content {
display: block;
text-align: center;
margin-top: 1.5rem;
}

.portion {
  font-size: 1rem;
  line-height: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.portion p {
    text-align: left;
}


.landing-wrapper{
  position:relative;
}

.button-landing{
  /* margin-left: 45%;
  margin-top: 2em; */

  transition: .5s ease;
  /* padding: 0.5em 1em 0.5em 1em; */
  padding: 1rem 2rem 1rem 2rem;
  /* color: #f0eee2; */
  color: black;
  /* color: black; */
  /* background-color: #c39c87; */
  background-color: Transparent;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  border: 1.25px solid black;
  /* position: absolute; */
  /* border-radius: 0.2em; */


  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* -ms-transform: translate(-50%, -50%); */
}

.button-landing:hover, .button-landing:focus {
  background-color: #f0eee3;
  /* color: #b4876e; */
  color: black;
}
