/* For addiitonal styling that pertains to the website and its responsiveness */


/* HEADER + JOCALE LOGO */
header {
  /* margin-top: 1rem; */
  margin-bottom: 2rem;
}

footer {
  margin-top: 2rem;
}


.heading {
  display: block;
  text-align: center;
  margin-bottom: 0.5rem;
}


.checkout-button {
  width: 30px;
  position: absolute;
  left: 90%;
  margin-right: 25%;
  transform: translate(-50%, -100%)
}

.content {
/* display: block;
text-align: center; */
margin-top: 1.5rem;
}



.portion p {
    text-align: left;
}

.pd-portion {
  max-width: 1000px;
  margin: 0 auto;
}



.bg {
  /* Full height */
  max-height: 100%;
  max-width: 100%;
  /* margin-top: -4em; */
  border: 1.25px solid black;

  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover; */
}

.last {
  margin-top: -1rem;
}

.lw{
  position:relative;
}

.button-landing, .button-landing-2{
  transition: .5s ease;
  padding: 1rem 2rem 1rem 2rem;
  color: black;
  background-color: rgb(255,255,255,0.65);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  border: 1.25px solid black;
}

.button-addtocart2 {
  background-color: #f0eee3;
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding: 1em 2em 1em 2em;
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
}

.button-back{
  background-color: #ffffff;
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1em;
  /* padding: 0.5em 1em 0.5em 1em; */
  padding: 1em 2em 1em 2em;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  margin-top: 1em;

}

.button-landing{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-landing:hover, .button-landing:focus,
.button-landing-2:hover, .button-landing-2:focus{
  background-color: #f0eee3;
  /* color: #b4876e; */
  color: black;
  outline:none;
}

 .button-addtocart2:hover, .button-addtocart2:focus, .footer-submit:hover, .footer-submit:focus  {
background-color: #b4876e;
color: white;
}



.bl-2 {
  text-align: center;
  margin-top: -50%;
  margin-bottom: 50%;
}

.choice-img {
  border: 1.25px solid black;

}

.content-title{
  display: block;
  text-align: center;
  margin-bottom: 4rem;
}

/* landing page - home */

/* .landing-content {
  display:
} */

.landing-wrapper {
  padding-bottom: 1rem;
  /* margin: 0.5rem; */

}


.landing-wrapper2 {
  display: flex;
}

.pd-style2 {
  border: 1px solid black;
}
.pd-style  {
  background-color: rgb(240, 238, 227, 0.1);
}

.b-atc2 {
  margin-top: 3rem;
}




.fcolumn {
    flex: 1;
}

.fcolumn2 {
  display: flex;
  margin-left: 15em;
}

.f2-column {
  line-height: 1.5em;
  margin-right: 5em;
}

.fc-cont {
  display: block;
}


.fc1 {
  max-width: 500px;
}
.search-style {
  width: 200px;
}

.footer-search {
border: solid 1px black;
}

.footer-submit {
  margin-left: -5px;
  /* display: inline-block; */
  padding: 1.1em 2em 1em 2em;
  background-color: #f0eee3;
  color: black;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  border: solid 1px black;
  text-transform: uppercase;
  /* border-style: none; */
  /* border-radius: 0.2em; */
}

#footer-bar {
  border: solid 1px black;

}

hr.line-black {
  border: 0.5px solid black;
}

.about-info, .por2 {
  margin-top: 3em;
}

.portion p {
  line-height: 1.5em;
}

.portion h2 {
  font-size: 2em;
  margin-top:0;
}

.product-list-grid {
  margin: 0 auto;
}






@media (min-width: 10em) {

  .landing-wrapper2 {
    flex-direction: column;
    /* display: block; */
  }

  .choice-img {
    max-width: 100%;
    max-height: 100%;
  }

  .product-details {
    display: block;
  }


  .pd-column1 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

  }

  .pd-item {
  max-width:100%;
    /* margin-right:0; */
      margin-right: 0.5rem;
  }

  .p2-item {
    max-width: 100%;
    margin-top: 2rem;
}

.footer-section {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin: 0 auto;
  padding:3rem 1rem 3rem 1rem;

}

.fcolumn2 {
  margin-left:0;
}


.portion {
  display: block;
  /* flex: 1; */
}

.map {
max-width: 90%;
}


}

@media (min-width: 640px) {
  .product-details {
    display: block;
  }


  .pd-column1 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

  }

  .pd-item {
  max-width:100%;
    /* margin-right:0; */
    margin-right: 0.5rem;
  }

  .p2-item {
    max-width: 100%;
    margin-top: 2rem;
}

.fcolumn2 {
  margin-left:0;
}

}


@media (min-width: 680px) {
  .landing-wrapper {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
  }

  .grid-col-1 {
    display: flex;
    flex-direction: row;
  }

    .choice-img {
      max-width: 100%;
    }

    .fcolumn2 {
      margin-left:0;
    }

}



@media (min-width: 40em) {


  .landing-wrapper2 {
    flex-direction: row;
  }

  .middle {
    margin: 0 1rem 0 1rem;
  }

  .choice-img {
    max-width: 100%;
  }

  .grid-col-1 {
    display: flex;
    flex-direction: row;
  }

}

@media (min-width: 50em) {

    .product-details {
      display: flex;

    }

    .p2-item {
      max-width: 100%;
      margin-top:1px;
    }

    .pd-column1 {
      display: flex;
      flex-direction: column;
    }

    .pd-item {
      max-width: 120px;
      margin-bottom: 0.3rem;
    }

    .pd-column3 {
      margin-left: 2rem;
      max-width: 300px;
    }

    .b-atc2 {
      text-align: center;
    }

    .footer-section {
      /* position: relative; */
      display: flex;
      flex-grow:0;
      padding:3rem 1rem 3rem 1rem;
      /* justify-content: space-between; */
    }

    .fcolumn2 {
      margin-left:15em;
    }

    .portion {
    display: flex;
    flex: 1;
    }

    .p2 {
      flex: 1;
    }

.cart-container {
  max-width: 1000px;
  margin: 0 auto;
}


}
